h1{color: greenyellow;

}

a{color: red;} 
#teste{color: purple;}
header{color:rgb(119, 189, 255)}
ol{color: rgb(0, 47, 255);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    color: pink;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    width: 200px;
    height: 200px;

}

header{
    color: fuchsia;
}
i{
    color: red;
}

.div1 {
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}

.div2{
    background-color:brown;
    height: 100px;
    width: 200px;
}
.lucas{
    width: 200px;
    text-align: justify;
    right: 50px;
}

