#topo h1{
    text-align: center;
}
#topo h2{
    text-align: center;
}

.destaques{
    color: blue;
}

/*Transformação do Menu*/
#menu{
    background-color: #333;
}

#menu ul{
    list-style: none;
    display: flex;
}

#menu ul li{
    margin: 0;
}

#menu ul li a{
    display: block;
    padding: 14px 20px;
    color:white;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #555;
}
.destaques ul {
    list-style: none;
    display:flex;
}
.destaques ul li{
    margin: 0;
}

.destaques ul li{
    display: block;
    text-align: center;
    padding: 14px 20px;
    color:white;
    text-decoration: none;
}

/* .destaques ul li a:hover{
    background-color: #555;
} */